####################################
# Node.js
####################################
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

####################################
# Environment variables (sensíveis)
####################################
.env
.env.*
!.env.example

####################################
# Prisma
####################################
# Cliente gerado automaticamente
/src/generated/prisma

# Migrations locais (opcional versionar)
prisma/migrations

####################################
# Banco de dados (SQLite)
####################################
db/*.sqlite
db/*.sqlite-journal
db/*.db

####################################
# Build / Cache
####################################
dist
build
.cache

####################################
# Sistema Operacional
####################################
.DS_Store
Thumbs.db

####################################
# IDE / Editor
####################################
.vscode
.idea
*.swp
*.swo

